<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="public/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
    <link rel="stylesheet" href="public/lib/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="public/lib/bootstrap/dist/css/bootstrap-theme.css">

    <link rel="stylesheet" href="public/modules/core/css/core.css">

    <link rel="stylesheet" href="public/modules/users/css/users.css">

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'public/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
	<section class="content">
		<section class="container">
            <section data-ui-view></section>
		</section>
	</section>

	<!--Application JavaScript Files-->
    <script type="text/javascript" src="public/lib/angular/angular.js"></script>

    <script type="text/javascript" src="public/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="public/lib/angular-animate/angular-animate.js"></script>

    <script type="text/javascript" src="public/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <script type="text/javascript" src="public/lib/angular-ui-utils/ui-utils.js"></script>

    <script type="text/javascript" src="public/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="public/config.js"></script>

    <script type="text/javascript" src="public/application.js"></script>

    <script type="text/javascript" src="public/modules/articles/articles.client.module.js"></script>

    <script type="text/javascript" src="public/modules/core/core.client.module.js"></script>

    <script type="text/javascript" src="public/modules/users/users.client.module.js"></script>

    <script type="text/javascript" src="public/modules/articles/config/articles.client.config.js"></script>

    <script type="text/javascript" src="public/modules/articles/config/articles.client.routes.js"></script>

    <script type="text/javascript" src="public/modules/articles/controllers/articles.client.controller.js"></script>

    <script type="text/javascript" src="public/modules/articles/services/articles.client.service.js"></script>

    <script type="text/javascript" src="public/modules/core/config/core.client.routes.js"></script>

    <script type="text/javascript" src="public/modules/core/controllers/header.client.controller.js"></script>

    <script type="text/javascript" src="public/modules/core/controllers/home.client.controller.js"></script>

    <script type="text/javascript" src="public/modules/core/services/menus.client.service.js"></script>

    <script type="text/javascript" src="public/modules/users/config/users.client.config.js"></script>

    <script type="text/javascript" src="public/modules/users/config/users.client.routes.js"></script>

    <script type="text/javascript" src="public/modules/users/controllers/authentication.client.controller.js"></script>

    <script type="text/javascript" src="public/modules/users/controllers/password.client.controller.js"></script>

    <script type="text/javascript" src="public/modules/users/controllers/settings.client.controller.js"></script>

    <script type="text/javascript" src="public/modules/users/services/authentication.client.service.js"></script>

    <script type="text/javascript" src="public/modules/users/services/users.client.service.js"></script>

	<!--Livereload script rendered -->
	<!--<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>-->

	<!--[if lt IE 9]>
	<section class="browsehappy jumbotron hide">
		<h1>Hello there!</h1>
		<p>You are using an old browser which we unfortunately do not support.</p>
		<p>Please <a href="http://browsehappy.com/">click here</a> to update your browser before using the website.</p>
		<p><a href="http://browsehappy.com" class="btn btn-primary btn-lg" role="button">Yes, upgrade my browser!</a></p>
	</section>
	<![endif]-->
</body>

</html>
